.comment {
  padding: 10px;
  border-radius: 5px;
  line-height: 1;
  box-shadow: 0 0 2px grey;
  background-color: #b0acab;
  &__date {
    font-size: 14px;
    font-weight: bold;
  }
  &__text {
    font-size: 12px;
    font-style: italic;
  }
}
