$c-white: #FFFFFF;
$c-black: #000000;
$c-attention: #FEE040;
$c-attention-light: #FFEB81;
$c-primary: #151515;
$c-primary-light: #333333;
$c-secondary: #F5F5F5;
$c-stone: #707070;
$c-stone-dark: #505050;