.card-services {
	width: 100%;
	max-width: 400px;
	flex-shrink: 0;
	letter-spacing: -0.5px;

	&__img {
		width: 100%;
		height: 180px;
		object-fit: cover;
		margin-bottom: 25px;
		border-radius: 5px;
	}
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 28px;
		color: $c-white;
		margin-bottom: 20px;
	}
	&__descr {
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
		color: $c-white;
		opacity: 0.7;
		margin-bottom: 37px;
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 13.5px;
		span, img {
			display: inline-block;
		}
		span {
			font-family: 'Bebas Neue';
			font-weight: bold;
			font-size: 20px;
			line-height: 16px;
			letter-spacing: 7px;
			color: $c-attention;
		}
	}
}
