.step {
	display: flex;
	height: 441px;
	@include largeDesktops {
		flex-direction: column;
		height: 400px;
	}
	@include tablet {
		height: 300px;
	}
	@include smallDesktops {
		height: 200px;
	}
	@include mobile {
		height: 150px;
	}
	&__slider {
		width: 100%;
		max-width: 50%;
		height: 100%;
		@include largeDesktops {
			max-width: 100%;
		}
	}
	&__box-wrap {
		background-color: $c-secondary;
		width: 100%;
	}
	&__box {
		letter-spacing: -0.5px;
		width: 100%;
		padding: 80px 0 80px 70px;
		@include largeDesktops {
			max-width: 501px;
			padding: 80px 15px;
			margin: 0 auto;
		}
	}
	&__box-inner {
		width: 100%;
		max-width: 460px;
	}
	&__title-wrap {
		display: flex;
		column-gap: 20px;
		margin-bottom: 18px;
		@include mobile {
			flex-direction: column;
			gap: 20px;
			justify-content: flex-start;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 34px;
		color: $c-primary;
	}
	&__descr {
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: $c-primary-light;
		opacity: 0.7;
		margin-bottom: 32px;
	}
	&__article {
		max-width: 501px;
	}
}

.step-item {
	background-color: $c-attention;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $c-primary;
	padding: 4px 10px 0;
	@include mobile {
		max-width: 110px;
	}
}
.article {
	display: flex;
	column-gap: 30px;
	@include mobile {
		flex-direction: column;
		gap: 20px;
		justify-content: flex-start;
	}
	&__box-img {
		position: relative;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: $c-white;
		flex-shrink: 0;
		@include mobile {
			margin: 0 auto;
		}
	}
	&__img {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 56px;
		height: 56px;
		border-radius: 50%;
	}

	&__blockquote {
		font-style: italic;
		font-size: 16px;
		line-height: 24px;
		color: $c-stone-dark;
		opacity: 0.7;
		margin-bottom: 21px;
	}
	&__author {
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;
		color: $c-primary;
		opacity: 0.7;
	}
}